@font-face{
    font-family: abt;
    src: url(Roboto-Light.ttf);
  }
  @font-face{
      font-family: fn1;
      src: url(Raleway-Light.ttf);
  }
  @font-face{
      font-family: fn2;
      src: url(JosefinSans-Light.ttf);
  }
h1{
    text-align: left !important;
    position: relative;
    left: 16%;
    font-size: 3rem;
    color: rgb(201, 201, 201);
    text-shadow: #111 0px 0px 3px;
    width: 80%;
    /*font-family: abt;*/
    font-family: fn2;

}
h2,p{
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
}
p{
    margin-top: -10px;
}
h2{
    font-size: 1.5rem;
    font-family: fn2;
}
.box a{
    color: #049ef4;
    text-decoration: none;
    text-align: center;
}
.box a{
    margin-top: 15px;
}
.box a:hover{
    text-decoration: underline;
}
img{
    border-radius: 100%;
    opacity: .5;
    border: 2px solid #000;
    filter: invert(1);
}
.total{
    align-items: center;
}
.box{
    padding: 20px 35px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #212121;
    color: #fff;
    border-radius: 10px;
    align-items: center;
    font-family: abt;
    

}
.box:hover{
    box-shadow: 0px 0px 8px rgb(43, 43, 43) ;
}

.m1{
    position: absolute;
    top: auto;
    left: 25%;
    transform: translateX(-50%);

}
.m2{
    position: absolute;
    top: auto;
    left: 50%;

    transform: translateX(-50%);
}
.m3{
    position: absolute;
    top: auto;
    left: 75%;
    transform: translateX(-50%);

}
.uline{
    width: 55px;
    height: 1px;
    display: block;
    background-color: #fff;
    position: relative;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    margin-left: 1.3px;
}
@media screen and (max-width: 768px){
    .m1{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
    .m2{
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    .m3{
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translateX(-50%);
    }
    .box{
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 10%;
    }
    h1{
        width: 80%;
    }
}

.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
}

.logo b{
  font: 400 19vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

