<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml \
        text/css application/x-javascript application/javascript
</IfModule>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^donate Donate.php [NC,L]
RewriteRule ^thankyou thankyou.php [NC,L]
RewriteRule ^subscribe test.php [NC,L]
RewriteRule ^team team.php [NC,L]
RewriteRule ^legal legal.php [NC,L]
RewriteRule ^discord discord.php [NC,L]

Header append X-FRAME-OPTIONS "SAMEORIGIN"

RewriteEngine On
RewriteCond %{HTTP_HOST} ^eximstudio.com [NC]
RewriteRule ^(.*)$ https://www.eximstudio.com/$1 [L,R=301]


Options -Indexes



Redirect /discord.php https://discord.gg/D4ZVTnEQ4Q
Redirect /shandler https://discord.gg/G3cB7BAnmx

















# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:uveguv
ErrorDocument 403 /403.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE uveguv:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:yzyquv
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE yzyquv:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW HOTLINKID:cSYIvLnsEP
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?eximstudio.com/.*$      [NC]
RewriteRule .*\.(jpeg|gif|png|bmp|tiff|avi|mpeg|mpg|wma|mov|zip|rar|exe|mp3|pdf|swf|psd|txt|htm)$ https://eximstudio.com [R,NC]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE cSYIvLnsEP:HOTLINKID

